body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Outfit", sans-serif;
    background: hsl(212, 45%, 89%);
}
img {
    border-radius: 9px;
}
span {
    font-size:  1.35rem;
    line-height: 1.75rem;
}
